body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(223, 224, 219, 1.0);
  background: -webkit-radial-gradient(center, rgba(223, 224, 219, 1.0), rgba(164, 165, 165, 1.0));
  background: -moz-radial-gradient(center, rgba(223, 224, 219, 1.0), rgba(164, 165, 165, 1.0));
  background: radial-gradient(ellipse at center, rgba(223, 224, 219, 1.0), rgba(164, 165, 165, 1.0));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
